<div class="d-flex flex-column combo">
    <div data-bs-toggle="popover" data-bs-html="true" data-bs-content='<div class="px-4">
                          <div class="fw-bold fs-5">COMBO 3in1 Macbook Air 2020 - Case, ốp kèm phủ phím</div>
                          <div class="rounded-10 shadow-sm row my-3 py-3 px-2">
                              <div class="col-4">
                                <img class="w-100 rounded-10" src="https://lzd-img-global.slatic.net/g/p/9b058d3b2dfb750ddf0a161761267b21.jpg_720x720q80.jpg_.webp" alt="">
                              </div>
                              <div class="col-8">
                                <div class="fw-bold">
                                  Macbook Air 2020 màu gradient
                                </div>
                                <div class="rounded-pill d-flex align-items-center">
                                    Apple
                                    <img class="logo ms-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Apple-logo.png/640px-Apple-logo.png" alt="">
                                </div>
                                <div class="my-2">
                                    21.400.000 đ
                                </div>
                               </div>
                         </div>
                            <div class="rounded-10 shadow-sm row my-3 py-3 px-2">
                              <div class="col-4">
                                <img class="w-100 rounded-10" src="https://lzd-img-global.slatic.net/g/p/eebff4f4a1bde9249f6a9e81b0107671.jpg_720x720q80.jpg_.webp" alt="">
                              </div>
                              <div class="col-8">
                                <div class="fw-bold">
                                  Lót chuột màu gradient
                                </div>
                                <div class="rounded-pill d-flex align-items-center">
                                    Apple
                                    <img class="logo ms-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Apple-logo.png/640px-Apple-logo.png" alt="">
                                </div>
                                <div class="my-2">
                                    400.000 đ
                                </div>
                               </div>
                            </div>
                             <div class="rounded-10 shadow-sm row my-3 py-3 px-2">
                              <div class="col-4">
                                <img class="w-100 rounded-10" src="https://lzd-img-global.slatic.net/g/p/36e809e613d460ace438dea5b1b038d9.jpg_720x720q80.jpg_.webp" alt="">
                              </div>
                              <div class="col-8">
                                <div class="fw-bold">
                                  Bàn phím màu gradient
                                </div>
                                <div class="rounded-pill d-flex align-items-center">
                                    Apple
                                    <img class="logo ms-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Apple-logo.png/640px-Apple-logo.png" alt="">
                                </div>
                                <div class="my-2">
                                    1.400.000 đ
                                </div>
                               </div>
                            </div>
                            <div class="btn btn-price w-100">Thêm vào giỏ hàng</div>
                        </div>'>
        <div class="position-relative image-overlap-3 w-100">
            <div style="background-color: transparent;padding-bottom: 55%;width: 80%;"
                 class="card-bg-image img-product rounded-10 cursor-pointer"></div>
            <div class="card-bg-image img-product rounded-10 cursor-pointer"
                 style="background-image: url('https://lzd-img-global.slatic.net/g/p/9b058d3b2dfb750ddf0a161761267b21.jpg_720x720q80.jpg_.webp')"></div>
            <div class="card-bg-image img-product rounded-10 cursor-pointer centered-axis-y"
                 style="background-image: url('https://lzd-img-global.slatic.net/g/p/eebff4f4a1bde9249f6a9e81b0107671.jpg_720x720q80.jpg_.webp')"></div>
            <div class="card-bg-image img-product rounded-10 cursor-pointer centered-axis-y"
                 style="background-image: url('https://lzd-img-global.slatic.net/g/p/36e809e613d460ace438dea5b1b038d9.jpg_720x720q80.jpg_.webp')"></div>
        </div>
        <div>
            <div data-bs-toggle="tooltip"
                 title="COMBO 3in1 - Case, ốp kèm phủ phím dành cho Macbook - Màu Gradient - Tặng kèm nút chống bụi Macbook - Màu ngẫu nhiên - Hàng chính hãng"
                 class="card-product-name fw-bold fs-5 limit-2-line lh-sm mb-2">COMBO 3in1 Macbook Air
                2020 - Case, ốp
                kèm phủ phím
            </div>
            <div class="d-flex">
                <button class="btn btn-sm btn-light rounded-pill d-flex align-items-center my-3">
                    Acer
                    <img class="logo ms-2" src="https://acer.bankbuddy.me/webchat/images/acer_logo.png"
                         alt="">
                </button>
                <button class="btn btn-sm btn-light rounded-pill d-flex align-items-center my-3">
                    Apple
                    <img class="logo ms-2"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Apple-logo.png/640px-Apple-logo.png"
                         alt="">
                </button>
            </div>
            <small>
                <p data-bs-toggle="tooltip"
                   title="COMBO 3in1 Macbook Air 2020 - Case, ốp
                                    kèm phủ phím dành cho Macbook - Màu Gradient - Tặng kèm nút chống bụi Macbook - Màu ngẫu
                                    nhiên - Hàng chính hãng"
                   class="text-secondary line-height-14 limit-3-line mb-0">COMBO 3in1 Macbook Air 2020 -
                    Case, ốp
                    kèm phủ phím dành cho Macbook - Màu Gradient - Tặng kèm nút chống bụi Macbook - Màu
                    ngẫu
                    nhiên - Hàng chính hãng >
                </p>

            </small>
        </div>
    </div>
    <div>
        <div>
            <div class="my-2">
                <del>
                </del>
                <span class="badge bg-danger fw-normal ms-2">Giảm 2%</span>
            </div>
            <button type="button" class="btn btn-price w-100 text-white mt-2">
                <i class="fa-solid fa-cart-shopping me-2"></i>
                3 Sản phẩm · 31.200.000 <span>đ</span>
            </button>
        </div>
    </div>
</div>
