<div id="header" class="container-fluid fixed-top bg-white p-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/">
                        <img class="rounded logo-md" loading="lazy"
                             src="/image/logo.jpg">
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link text-black" href="/">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" href="/product">Sản phẩm </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" href="/product">Phụ kiện</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" href="/combo">Combo</a>
                            </li>
                        </ul>
                        <ul id="" class="nav navbar-nav navbar-right d-flex">
                            <li class="nav-item cursor-pointer"
                                data-bs-toggle="offcanvas" data-bs-target="#canvasCart">
                                <small>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span class="badge badge-numb-product rounded-pill bg-danger ms-1">4</span>
                                </small>
                            </li>
                            <li class="nav-item">
                                <button data-bs-toggle="modal" data-bs-target="#modalLogin"
                                        class="btn bg-app rounded-pill border-0">
                                    <i class="fas fa-arrow-circle-right me-1" aria-hidden="true"></i>
                                    Đăng nhập
                                </button>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>